#block-body {
    margin: 0 150px;
    background-color: #20262E;
}

.account-container {
    max-width: 780px;
    margin: auto;
}

input {
    margin-right: 1em;
}

button {
    width: 240px;
}

h3 {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 300;
}

form[action="/rename"] {
    margin-bottom: 3em;
}