#dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th, td {
    padding: .2em .5em;
    text-align: center;
    border: 1px solid #959595;
    min-width: 70px
}

th {
    font-weight: 500;
    letter-spacing: .05em
}

.th-units {
    font-weight: 200;
}

#chart-container {
    width: 50%;
}
