#block-body {
    margin: 0 150px;
    background-color: #20262E;
    min-height: calc(100vh - 100px);
}

p {
    display: inline-block;
    font-weight: 300;
}

.note {
    width: 100%;
    text-align: center;
    font-weight: 100;
}

.units-select {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    margin-bottom: 1em;
    padding-right: 1.5em;
}

.units-select p {
    margin: 0;
    margin-right: .75em;
}

label {
    padding-left: 1.5em;
    display: inline-block;
    width: 100px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 300;
}

input {
    width: 3em;
    text-align: center;
    margin-right: .5em;
    margin-left: 1em;
}

/*input:focus {*/
/*    outline: none;*/
/*    border-bottom: 2px solid limegreen;*/
/*}*/

.focused {
    color: limegreen;
}

.track-container {
    max-width: 960px;
    margin: auto;
    padding-top: 1em;
}

.inner-track-container {
    display: flex;
}

.form-div {
    width: 50%;
}

form {
    width: 20em;
    margin: auto;
}

button {
    display: block;
    margin: auto;
    margin-top: 2em;
    width: 80%;
}

.preload {
    background-image: url("../img/human_img_weight.png"),
                      url("../img/human_img_waist.png"), 
                      url("../img/human_img_bicep.png"),
                      url("../img/human_img_chest.png"),
                      url("../img/human_img_shoulders.png"),
                      url("../img/human_img_forearm.png"),
                      url("../img/human_img_thigh.png"),
                      url("../img/human_img_calves.png"),
                      url("../img/human_img_neck.png");
}

.track-img {
    height: 600px;
    width: 50%;
    background-image: url("../img/human_img.png");
    background-position: center;
}

.track1 {
    background-image: url("../img/human_img_weight.png");
}

.track2 {
    background-image: url("../img/human_img_neck.png");
}

.track3 {
    background-image: url("../img/human_img_shoulders.png");
}

.track4 {
    background-image: url("../img/human_img_chest.png");
}

.track5 {
    background-image: url("../img/human_img_waist.png");
}

.track6 {
    background-image: url("../img/human_img_bicep.png");
}

.track7 {
    background-image: url("../img/human_img_forearm.png");
}

.track8 {
    background-image: url("../img/human_img_thigh.png");
}

.track9 {
    background-image: url("../img/human_img_calves.png");
}