<!DOCTYPE html>

<html>
    <header>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="style/base.css" type="text/css">
        {% block headItems %}{% endblock %}
    </header>
    <body>
        <nav>
            <div>
                <a href="/">BodiTraq</a>
            </div>
            <div>
                {% if session.passport.user %}
                    <a href="/dashboard">Dashboard</a>
                    <a href="/track">Enter New Measurements</a>
                    <a href="/account">Account</a>
                    <a href="/logout">Logout</a>
                {% else %}
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                {% endif %}
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>