<!DOCTYPE html>

<html>
    <header>
        <title>{% block title %}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Raleway:100,200,300,400,700|Special+Elite" rel="stylesheet">
        <link rel="stylesheet" href="style/base.css" type="text/css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-87DrmpqHRiY8hPLIr7ByqhPIywuSsjuQAfMXAE0sMUpY3BM7nXjf+mLIUSvhDArs" crossorigin="anonymous">
        {% block headItems %}{% endblock %}
    </header>
    <body>
        <nav>
            <div>
                <a href="/"><h1>BodiTraq</h1></a>
            </div>
            <div>
                {% if session.passport.user %}
                    <a href="/dashboard" class="yellow-background-hover icon" title="Dashboard"><i class="fal fa-chart-line"></i></a>
                    <a href="/track" class="green-background-hover icon" title="Enter Measurements"><i class="fal fa-pencil-ruler"></i></a>
                    <a href="/account" class="blue-background-hover icon" title="Account"><i class="fal fa-user-cog"></i></a>
                    <a href="/logout" class="purple-background-hover icon" title="Log Out"><i class="fal fa-sign-out-alt"></i></a>
                {% else %}
                    <a href="/login" class="green-background-hover icon" title="Sign In"><i class="fal fa-sign-in-alt"></i></a>
                    <a href="/register" class="orange-background-hover icon" title="Sign Up"><i class="fal fa-user-plus"></i></a>
                {% endif %}
            </div>
        </nav>
        <div id="block-body">
            {% block body %}{% endblock %}
        </div>
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="script/base.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>