{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block headItems %}
    <link rel="stylesheet" href="style/dashboard.css" type="text/css">
{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>Session</th>
            {% for literal in measurementLiterals %}
                <th>{{ literal }}</th>
            {% endfor %}
        </tr>
        {% for session in sessions %}
        <tr>
            <td>{{ session.sysdate }}</td>
            {% for measurement in session.measurements %}
                <td>{{ measurement }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}