{% extends "base.html" %}

{% block title %}
    BodiTraq
{% endblock %}

{% block headItems %}
    <link rel="stylesheet" href="style/index.css" type="text/css">
{% endblock %}

{% block body %}
    <div id="homepage-content">
        <h2>A simple, clean body measurement tracking app</h2>
        <p>
            Exercise and diet are the keys to attaining a healthy body, but physical
            changes can be difficult to notice as they are slow and gradual. This can
            lead to a loss of motivation to continue. BodiTraq helps by allowing you
            to record your body measurements so that these incremental changes are
            visible. Even when you don't feel like you're making progress, BodiTraq
            will prove that your waist is shrinking, your arms growing, and your
            overall body transforming.
        </p>
    </div>
{% endblock %}