{% extends "base.html" %}

{% block title %}
    boditraq
{% endblock %}

{% block headItems %}
    <link rel="stylesheet" href="style/index.css" type="text/css">
{% endblock %}

{% block body %}
    <div id="homepage-content">
        <div class="no-angle">
            <h2 class="tagline">Body measurement tracking - simplified</h2>
            <img src="img/dashboard.png">
        </div>
        <div class="angle-right">
            <h2 class="info-h2">
                Body measurement tracking provides information about 
                how <span class="underlined">your</span> body responds to different exercise routines and 
                nutrition plans
            </h2>
        </div>
        <div class="no-angle">
            <h2 class="img-h2">
                When tracking is easy it's easy to track consistently
            </h2>
            <img src="img/track.png">
        </div>
        <div class="footer">
            <p>
                Designed and programmed by <a href="http://www.aaronkwilkinson.com" target="_blank">Aaron Wilkinson</a>
            </p>
        </div>
    </div>
{% endblock %}