{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <!-- elif isn't working, so using separate if statements -->
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    {% if info %}
        <p class="info">{{ info }}</p>
    {% endif %}
    {% if success %}
        <p class="success">{{ success }}</p>
    {% endif %}
    <form action="/login" method="POST">
        <input name="username" placeholder="Username" />
        <input name="password" type="password" placeholder="Password" />
        <button type="submit">Log In</button>
    </form>
    <a href="/reset_password" method="GET">Forgot Password?</a>
{% endblock %}