{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <form action="/register" method="POST">
        <input name="username" placeholder="Username" />
        <input name="firstname" placeholder="First Name" />
        <input name="lastname" placeholder="Last Name" />
        <input name="email" placeholder="Email" />
        <input name="password" placeholder="Password" />
        <input name="password_confirm" placeholder="Confirm Password" />
        <button type="submit">Register</button>
    </form>
{% endblock %}