{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block headItems %}
    <link rel="stylesheet" href="/style/reset.css" type="text/css">
{% endblock %}

{% block body %}
    <div class="reset-container">
        <div class="reset-div">
            <form action="/reset_password" method="POST">
                <input name="email" placeholder="Email" autocomplete="off" required>
                <button type="submit">Reset Password</button>
            </form>
        </div>
    </div>
{% endblock %}